body{
    background: rgb(204, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}

.container{
    background: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 700px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.alert{
    width: 80%;
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}
.alert-success{
    background: rgb(193, 255, 193);
    border: 1px solid rgb(193, 255, 193);
    color: rgb(30, 59, 30);
    font-size: 1.2rem;
    border-radius: 8px;
}

.alert-danger{
    background: rgb(255, 177, 177);
    border: 1px solid rgb(255, 177, 177);
    color: rgb(226, 78, 78);
    font-size: 1.2rem;
    border-radius: 8px;
}

.submit-btn{
    background: teal;
    color: white;
    border: 1px solid teal;
    border-radius: 5px;
    font-size: 1.25rem;
    padding:5px;
}

input{
    border: 1px solid rgb(141, 211, 204);
    background: rgb(141, 211, 204);
    border-radius: 5px;
    font-size: 1.25rem;
    padding:5px;
    color: rgb(119, 119, 119);
}

.list-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.title{
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.edit-btn, .remove-btn{
    background: rgb(141, 211, 204);
    border: 1px solid rgb(141, 211, 204);
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    text-transform: capitalize;
    color: white;
}

.clear-all-btn{
    width: 100px;
    background: teal;
    color: white;
    border: 1px solid teal;
    border-radius: 5px;
    font-size: 1.25rem;
    padding:5px;

}